<% @player = MainController::PLAYER %>
<% @deck = MainController::DECK %>
<% @dealer = MainController::DEALER %>

<div class="d-flex align-items-center justify-content-center">
  <h1> Congratulations! You won! <h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <h1> ---- Player's Hand ---- <h1>
</div>

<div class="d-flex align-items-center justify-content-center">
    <% @player.cards.each do |card| %>
      => <%= card %>
      <br/>
    <% end %>
</div>

<div class="d-flex align-items-center justify-content-center">
  The Player total is: <%= @player.total %>
</div>

<div class="d-flex align-items-center justify-content-center">
  <h1> ---- Dealer's Hand ---- <h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <% @dealer.cards.each do |card| %>
    => <%= card %>
    <br/>
  <% end %>
</div>

<div class="d-flex align-items-center justify-content-center">
  The Dealer total is: <%= @dealer.total %>
</div>

<div class="d-flex align-items-center justify-content-center">
  <h1> Play Again? <h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <%=button_to "Yes", root_path, method: :get %>
</div>

<div class="d-flex align-items-center justify-content-center">
  <%=button_to "No", goodbye_path, method: :get %>
</div>